# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# Krita poops these sorts of files all over the place
*.png~

# The data generator spins up a temporary minecraft server, and it needs somewhere to poop its temporary files
datagen-workdir/